fastapi
uvicorn

python-dotenv
redis
pymilvus
motor
pymongo
dnspython

passlib[bcrypt]
python-jose


pydantic[email]
python-multipart
httpx
pypdf

huggingface_hub
groq
langchain-text-splitters
langchain-huggingface
langchain
langchain-groq
langchain-core
langchain-community
elevenlabs
