fastapi
uvicorn
python-dotenv
redis
pymilvus
sqlalchemy
psycopg[binary]
passlib[bcrypt]
python-jose
motor
pydantic[email]
python-multipart
httpx
pypdf
huggingface_hub
groq
langchain-text-splitters
langchain-huggingface
langchain
langchain-groq
elevenlabs
resend